<div class="panelsup"></div>


<nav>
  <div class="contenedor-nav">
    <ul>
      <li class="list-element"><a routerLink="/"><span>Inicio</span></a></li>
      <li class="list-element"><a routerLink="/danSchneider"><span>Dan Schneider</span></a></li>
      <li class="list-element"><a routerLink="/alexa"><span>Alexa</span></a></li>
      <li class="list-element"><a routerLink="/traduccion"><span>Traduccion</span></a></li>
      <li class="list-element"><span><app-cambiar-idioma></app-cambiar-idioma></span></li>
     
    </ul>
  </div>

</nav>