.panelsup {
  height: 50px;
  background-color: white;
  border-bottom: 3px solid #000000;
  position: relative; /* Añade position: relative para crear un contexto de posicionamiento */
  z-index: 1; /* Asegura que .panelsup esté sobre .contenedor-nav */
}

.contenedor-nav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 50%;
  
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c4c4c4;
  border-left: 3px solid #000000;
  z-index: 2; /* Asegura que .contenedor-nav esté sobre .panelsup */
}

ul {
  list-style: none;
  display: flex;
  justify-content:space-evenly;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.list-element {
  display: flex;
  border-width: 3px 3px 3px 0 ;
  border-color: #000000;
  border-style: solid;
  flex-grow: 1;
  align-items: center;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s;
  width: 100%;
  text-align: center;
  height: 100%;
  
}

nav a:hover {
  background-color: #868686;
  text-decoration: none;
  transition: background-color 0.3s;
  color: white;
  text-align: center;
  height: 100%;
}
